<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Demo</title>
  </head>
  <body>
    <button id="jokeButton">Get a Joke</button>
    <p id="jokeDisplay"></p>

    <script>
      async function generateDadJoke() {
        const config = {
          headers: {
            Accept: "application/json",
          },
        };
        const URL = "https://icanhazdadjoke.com/";
        const response = await fetch(URL, config);
        const data = await response.json();
        // console.log(data);

        document.getElementById("jokeDisplay").textContent = data.joke;
      }
      document
        .getElementById("jokeButton")
        .addEventListener("click", () => generateDadJoke());
    </script>
  </body>
</html>
