<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Exercise 15</title>
  <style>
      h1 {
          text-align: center;
      }
      img {
          border: 5px ridge gold;
          display: block;
      }
      div, img {
          width: 400px;
          margin: 20px auto;
      }
  </style>
</head>
<body>
  <h1>Who is your favorite Celtics Player?</h1>
  <img src="images/Celtics.png" alt="Click here to choose the image" title="Celtics"/>
  <div>
    Enter the last name of your favorite Celtics player:
    <ul>
      <li>Jaylen Brown</li>
      <li>Jayson Tatum</li>
      <li>Al Horford</li>
      <li>Payton Pritchard</li>
    </ul>
  </div>
</body>
</html>
