<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>ex17-2 - Temperature Converter</title>
    <style>
      body {
        font-family: Arial;
      }

      form {
        font-weight: bold;
        padding: 10px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        background-color: Silver;
      }

      div {
        text-align: center;
      }

      input {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Celsius Fahrenheit Converter</h1>
    </div>
    <form action="" id="temp-form" method="">
      <div>
        <label
          >Celsius:
          <input id="cel" name="cel" size="6" type="text" />
        </label>
        <label
          >Fahrenheit:
          <input id="far" name="far" size="6" type="text" />
        </label>
      </div>
      <div>
        <input id="convert-btn" type="button" value="Convert" />
        <input type="reset" value="Clear" />
      </div>
    </form>
  </body>
</html>
